In [1]:
import numpy as np
import pandas as pd

In [2]:
books=pd.read_csv('BX-Books.csv', on_bad_lines='skip', encoding='latin-1', low_memory=False)

In [3]:
books.head()

,isbn,book_title,book_author,year_of_publication,publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [4]:
books.rename(columns={'isbn':'ISBN', 'book_title':'Book_Title' , 'book_author':'Book_Author' , 'year_of_publication':'Year_Of_Publication' , 'publisher':'Publisher'}, inplace=True)

In [5]:
books.head(2)

,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [6]:
users=pd.read_csv('BX-Users.csv', on_bad_lines='skip', encoding='latin-1', low_memory=False)

In [7]:
users.head(2)

  user_id                   Location   Age
0       1         nyc, new york, usa   NaN
1       2  stockton, california, usa  18.0

In [8]:
users.rename(columns={'user_id':'User_ID'},inplace=True)

In [9]:
users.head(2)

  User_ID                   Location   Age
0       1         nyc, new york, usa   NaN
1       2  stockton, california, usa  18.0

In [10]:
ratings=pd.read_csv('BX-Book-Ratings.csv', on_bad_lines='skip', encoding='latin-1', low_memory=False)

In [11]:
ratings.head(2)

   user_id        isbn  rating
0   276725  034545104X       0
1   276726   155061224       5

In [12]:
ratings.rename(columns={'user_id':'User_ID','isbn':'ISBN','rating':'Ratings'},inplace=True)

In [13]:
ratings.head(2)

   User_ID        ISBN  Ratings
0   276725  034545104X        0
1   276726   155061224        5

In [14]:
books.shape

(271379, 5)

In [15]:
ratings.shape

(1048575, 3)

In [16]:
users.shape

(278859, 3)

In [17]:
x=ratings['User_ID'].value_counts()>200

In [18]:
y=x[x].index

In [19]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
        88793,  33145, 116122,   9856,  73681,  28634,  59727, 188951, 155916,
        44296],
      dtype='int64', name='User_ID', length=815)

In [20]:
ratings=ratings[ratings['User_ID'].isin(y)]

In [21]:
ratings.shape

(482728, 3)

In [22]:
ratings.head()

      User_ID        ISBN  Ratings
1456   277427  002542730X       10
1457   277427    26217457        0
1458   277427  003008685X        8
1459   277427    30615321        0
1460   277427    60002050        0

In [23]:
ratings_with_books=ratings.merge(books, on='ISBN')

In [24]:
ratings_with_books

,User_ID,ISBN,Ratings,Book_Title,Book_Author,Year_Of_Publication,Publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
...,...,...,...,...,...,...,...
446876,250764,440236681,0,Empires of Sand,David W. Ball,2001,Dell Publishing Company
446877,250764,451157516,0,"Cheyenne (Fortunes West, No 2)",A.R. Riefe,1988,New Amer Library (Mm)
446878,250764,048623715X,0,Glamorous Movie Stars of the Thirties: Paper D...,Tom Tierney,1982,Dover Publications
446879,250764,486256588,0,Schiaparelli Fashion Review: Paper Dolls in Fu...,Tom Tierney,1988,Dover Publications
446880,250764,515069434,0,Lady Laughing Eyes (To Have and to Hold),Lee Damon,1984,Jove Books

In [25]:
number_rating=ratings_with_books.groupby('Book_Title')['Ratings'].count().reset_index()

In [26]:
number_rating.rename(columns={'Ratings':'Number_Of_Ratings'},inplace=True)

In [27]:
final_rating=ratings_with_books.merge(number_rating, on='Book_Title')

In [28]:
final_rating

,User_ID,ISBN,Ratings,Book_Title,Book_Author,Year_Of_Publication,Publisher,Number_Of_Ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
...,...,...,...,...,...,...,...,...
446876,250764,044023509X,0,Meltdown,James Powlik,2002,Dell Publishing Company,1
446877,250764,451157516,0,"Cheyenne (Fortunes West, No 2)",A.R. Riefe,1988,New Amer Library (Mm),1
446878,250764,048623715X,0,Glamorous Movie Stars of the Thirties: Paper D...,Tom Tierney,1982,Dover Publications,1
446879,250764,486256588,0,Schiaparelli Fashion Review: Paper Dolls in Fu...,Tom Tierney,1988,Dover Publications,1
446880,250764,515069434,0,Lady Laughing Eyes (To Have and to Hold),Lee Damon,1984,Jove Books,1

In [32]:
final_rating=final_rating[final_rating['Number_Of_Ratings']>=50]

In [35]:
final_rating

,User_ID,ISBN,Ratings,Book_Title,Book_Author,Year_Of_Publication,Publisher,Number_Of_Ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
...,...,...,...,...,...,...,...,...
210493,225087,743439651,10,Still Waters,Jennifer Lauck,2001,Atria,75
210494,242299,743439651,0,Still Waters,Jennifer Lauck,2001,Atria,75
210495,127233,61090956,0,Still Waters,Kerry Tucker,1992,Harper Mass Market Paperbacks (Mm),75
210496,178667,074350996X,0,Still Waters,Jennifer Lauck,2001,Simon &amp; Schuster Audio,75
210497,185233,074350996X,0,Still Waters,Jennifer Lauck,2001,Simon &amp; Schuster Audio,75

In [36]:
final_rating.drop_duplicates(['User_ID','Book_Title'], inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_11084\3271696709.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_rating.drop_duplicates(['User_ID','Book_Title'], inplace=True)

In [37]:
final_rating.shape

(49070, 8)

In [38]:
book_pivot=final_rating.pivot_table(columns='User_ID', index='Book_Title', values='Ratings')

In [41]:
book_pivot.fillna(0,inplace=True)

In [104]:
book_pivot.shape

(626, 804)

In [57]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)

In [62]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [63]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [64]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [97]:
distances, suggestions=model.kneighbors(book_pivot.iloc[600,:].values.reshape(1,-1), n_neighbors=6)

In [98]:
suggestions

array([[600, 609, 448, 497, 192, 124]], dtype=int64)

In [99]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['We'll Meet Again', 'While My Pretty One Sleeps',
       'The Cradle Will Fall', 'The Long Road Home', 'Guilty as Sin',
       'Degree of Guilt'],
      dtype='object', name='Book_Title')

In [100]:
book_pivot.index[100]

'Congo'

In [102]:
np.where(book_pivot.index=='While My Pretty One Sleeps')[0][0]

609

In [94]:
def recommend_book(book_name):
    book_id=np.where(book_pivot.index==book_name)[0][0]
    distances, suggestions=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6)
    for i in range(len(suggestions)):
        if i==0:
            print("The suggestions for", book_name, "are:")
        if not i:
            print(book_pivot.index[suggestions[i]])

In [103]:
recommend_book('While My Pretty One Sleeps')

The suggestions for While My Pretty One Sleeps are:
Index(['While My Pretty One Sleeps', 'The Cradle Will Fall', 'Dragon Tears',
       'Before I Say Good-Bye', 'Deck the Halls (Holiday Classics)',
       'CAT'S EYE'],
      dtype='object', name='Book_Title')